# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/
.fenicsx/
fenicsx010/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/

# Logs
*.log

# LaTeX report sources are stored outside this source package:
# ../magnetic_cilium/magnetic_cilium_tex/

# Paraview / simulation outputs
results/
runs/
output/
*.pvd
*.vtu
*.xdmf
*.h5

# Temporary
tmp/
temp/

# OS
.DS_Store

.agents
.codex
