# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/
.fenicsx/
fenicsx010/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/

# Logs
*.log

# LaTeX sources and final PDFs
magnetic_cilium_tex/*
!magnetic_cilium_tex/**/
!magnetic_cilium_tex/*.tex
!magnetic_cilium_tex/*.pdf

# Paraview / simulation outputs
results/
runs/
output/
*.pvd
*.vtu
*.xdmf
*.h5

# Temporary
tmp/
temp/

# OS
.DS_Store

.agents
.codex
